* {
    margin:0;
    padding:0;
    outline: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {

    height:100%;
    font-size: 62.5%;

    --cyan : hsl(179, 62%, 43%);
    --cyan-light : hsl(179, 47%, 52%);
    --bright-yellow: hsl(71, 73%, 52%);
    --light-gray:hsl(204, 43%, 93%);
    --grayish-blue:hsl(218, 22%, 67%);

    --shadow: 0 5px 15px rgba(1, 1, 1, .2);
    --paddingX: 4rem;
    --paddingY: 4rem;

    @media only screen and (max-width: 376px) {
        font-size: 57%;
        --paddingX: 3rem;
        --paddingY: 3rem;
    }

}

body {
    min-height: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}